* {
  /*box-sizing: border-box;*/
}

body {

  max-height: 120vh;
  margin: 0 auto;
  padding: 0;
  /*background-color: #4286f4;*/
  /*background-image: url("https://i.imgur.com/6LdG6kN.jpg");*/
  background-repeat: no-repeat;
  size: 120%;
  height: 100%;
  min-height: 100%
}

/*html {
  height: 100%;
  min-height: 100%
}*/

.timer {
  margin-left: 500px;
}

/*Reset*/

button {
  display: none;
}

.congrat {
}

/*Class for Creating New Obtacles*/

.obtacle {
  width:50px;
  height:50px;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/*Class for Creating New Obtacles2*/
.obtacle2 {
  width:100px;
  height:100px;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Class for PlayerBox */

.box {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 200px;
  font-size: 120px;
  line-height: 50px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/*Class for displaying message*/

.message {
  width:500px;
  height:300px;
  margin-top: 80px;
  margin-left: 400px;
  background-color:white;
  text-align: center;
  display:none;
}
