

  * {
    box-sizing: border-box;
  }


.hole1 {
  width: 200px;
  	height: 100px;
  	background: #300000;
  	border-radius: 100px / 50px;
    position: absolute;
    margin: 300px 250px;
}

.hole2 {
  width: 200px;
  	height: 100px;
  	background: #300000;
  	border-radius: 100px / 50px;
    position: absolute;
    margin: 300px 500px;
}

.hole3 {
  width: 200px;
  	height: 100px;
  	background: #300000;
  	border-radius: 100px / 50px;
    position: absolute;
    margin: 300px 750px;
}

.hole4 {
  width: 200px;
  	height: 100px;
  	background: #300000;
  	border-radius: 100px / 50px;
    position: absolute;
    margin: 500px 250px 200px 250px;
}

.hole5 {
  width: 200px;
  	height: 100px;
  	background: #300000;
  	border-radius: 100px / 50px;
    position: absolute;
    margin: 500px 500px 200px 500px;
}

.hole6 {
  width: 200px;
  	height: 100px;
  	background: #300000;
  	border-radius: 100px / 50px;
    position: absolute;
    margin: 500px 750px 200px 750px;
}



body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #4286f4;
      position: relative;
  }
html {
      height: 100%;
  }
